#This is an .env file for docker-compose with Marvin's configuration options.
MARVINBOT_LOGIN=bot_skype_login
MARVINBOT_PASSWORD=bot_skype_password
MARVINBOT_ADMINS=marvin_admin1,marvin_admin2 #Bot admins' skype logins
MARVINBOT_DBHOST=localhost #MongoDB host
MARVINBOT_LOCALE=EN
